<%- include('header', { title: "Persons" }); %>

  <h1> Persons </h1>
  
  <div class="cards">
    <% data.map((person) => { %>
      <div class="card">
        <a href="/person/<%= person.id %>">
          <p> <%= person.id %> </p>
          <p> <%= person.first_name %> , <%= person.last_name %>  </p>
          <p> <%= person.precio %> </p>
          <img src="<%= person.avatar %>" /> 
        </a>
      </div>
    <% } )  %>
  </div>
    
<%- include('footer'); %>